package ${package}.dao;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.domain.DO.${className}DO;
import ${package}.domain.query.${className}Query;
import java.util.List;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 * @version 1.0
 */
public interface ${className}Dao extends IService<${className}DO> {

    /**
    * 按条件查询
    *
    * @param query
    * @return
    */
    List<${className}DO> findAll(${className}Query query);

}
