package ${package}.domain.DTO;

import java.util.Date;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import lombok.Data;
import lombok.EqualsAndHashCode;
import com.deepexi.util.pojo.AbstractObject;
import com.alibaba.fastjson.annotation.JSONField;
import java.io.Serializable;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 * @version 1.0
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${className}DTO extends AbstractObject implements Serializable {

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
	@JSONField(name = "$column.attrname")
	private $column.attrType $column.attrname;

#end
}
