package ${package}.service;

import ${package}.entity.${className}Entity;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 * @version 1.0
 */
public interface ${className}Service {

	/**
     * 分页获取列表
     *
     * @param query 参数
     * @return PageBean
     */
	List<${className}DTO> findPage(${className}Query query);

	/**
	 * 获取列表
	 *
	 * @param query 查询条件
	 * @return 列表
	 */
	List<${className}DTO> findAll(${className}Query query);

	/**
	 * 获取详情
	 *
	 * @param id id
	 * @return 实体对象
	 */
	${className}DTO getById(Long id);

	/**
	 * 更新
	 *
	 * @param id  id
	 * @param dto 参数
	 * @return 是否更新成功
	 */
	Boolean update(Long id, ${className}DTO dto);

	/**
	 * 批量修改
	 *
	 * @param list
	 * @return
	 */
	Boolean updateBatch(List<${className}DTO> list);

	/**
	 * 新增
	 *
	 * @param request
	 * @return 是否新增成功
	 */
	Long save(${className}DTO request);

	/**
	 * 批量新增
	 *
	 * @param list
	 * @return
	 */
	List<Long> saveBatch(List<${className}DTO> list);

	/**
	 * 根据id进行删除
	 *
	 * @param id
	 * @return
	 */
	Boolean removeById(Long id);

	/**
	 * 根据id列表进行删除
	 *
	 * @param idList
	 * @return
	 */
	Boolean removeByIdList(List<Long> idList);

}
